Source: libqdataschema
Section: libs
Priority: optional
Maintainer: Andrey Paskal (apaskal) <apaskal@gmail.com>
Build-Depends: debhelper (>= 9), qt6-base-dev, qt6-base-dev-tools, qt6-tools-dev, libmysqlclient-dev
Standards-Version: 3.7.2

Package: libqdataschema
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QT Data Schema library. Provide Application to database server structure verification and syncronysation. Support MySQL, PostgreSQL, SQLite.
Description-ru:  Библиотека для управления схемами баз данных на основе метаданных. Поддерживает MySQL, PostgreSQL, SQLite.
