[Desktop Entry]
Type=Application
Name=Ananas Administrator
Name[ru]=Администратор Ананаса
Comment=Manage Ananas users and roles
Comment[ru]=Управление пользователями и ролями Ананаса
Exec=ananas.ananas-administrator
Icon=${SNAP}/meta/gui/ananas-administrator.png
Terminal=false
Categories=Utility;Office;
