[Desktop Entry]
Type=Application
Name=Ananas Designer
Name[ru]=Дизайнер для Ананаса
Comment=Design and develop Ananas applications
Comment[ru]=Разработка и настройка бизнес-схем для Ананаса
Exec=ananas.ananas-designer
Icon=${SNAP}/meta/gui/ananas-designer.png
Terminal=false
Categories=Development;IDE;
